nav {
    /*border: 2px ridge black;*/
    position: fixed;
    width: 100%;
    height: 15%;
    background-color:maroon;  /*el "rgba" tiene la opcion de opasidad que esta ubicada en el cuarto numero que use para hacer su color de fondo del navegador transparente*/
    transform: translate(1px, -7px);
}

.nav-descripcion {
    position: absolute;
    width: 100%;
    height: 15%;
    background-color:maroon;  /*el "rgba" tiene la opcion de opasidad que esta ubicada en el cuarto numero que use para hacer su color de fondo del navegador transparente*/
    transform: translate(1px, -7px);
}

nav ul {
    display: flex;
    list-style-type: none;  /*"list-style-type: none" me sirvio paraquitarle los puntitos a la lista desordenada*/
}

nav ul li {
    margin-left: 1rem;
    /*border: 1px solid white;*/
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
}

.seccion1 {
    height: 100vh;
    width: 100vw;
    margin-top: 4ch;
}

.seccion2 {
    height: 100vh;
    width: 100vw;
}

textarea{
    display: block;
    color:darkred;
    font-size: 50%;
    background-color:bisque;
    resize: none;
}

.animacion1 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 3ch;
}

.boton {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5px;
}

.juegos {
    background-color: orangered;
    height: 350px;
}

.cajita1 {
    background-color:lightgray;
    width: 240px;
    height: 280px;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.precio {
    background-color: lightgray;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
}

.cajita1 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita2 {
    background-color:lightgray;
    width: 240px;
    height: 280px;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cajita2 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}


.cajita3 {
    background-color:lightgray;
    width: 240px;
    height: 280px;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cajita3 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita4 {
    background-color:lightgray;
    width: 240px;
    height: 280px;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cajita4 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita5 {
    background-color:white;
    width: 14ch;
    height: 50px;
    float: right;
    align-items: center;
    justify-content: center;
    display: flex;

}

.maquinitas {
    background-color: orangered;
    height: 350px;
}

.cajita6 {
    background-color:lightgray;
    width: 240px;
    height: 280px;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cajita6 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita7 {
    background-color:lightgray;
    width: 240px;
    height: 280px;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cajita7 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita8 {
    background-color:lightgray;
    width: 240px;
    height: 280px;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cajita8 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita9 {
    background-color:lightgray;
    width: 240px;
    height: 280px;
    float: left;
    margin: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cajita9 img {
    width: 240px;
    height: 280px;
    border-radius: 10px;
}

.cajita10 {
    background-color:white;
    width: 14ch;
    height: 50px;
    float: right;
    align-items: center;
    justify-content: center;
    display: flex;

}

body {
   background-color: black;
}


h2 {
    text-align: center;
    color: white;
}


.titulo1 {
    background-color: crimson;
    height: 5ch;
    width: 100%;
    align-items:center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo2 {
    margin-top: 6ch;
}

.titulo3 {
    margin-top: 21ch;
}

body {
    margin: 0;
    width: 100vw;
    /*height: 100vh;*/
    /*background: lightgrey;*/
    user-select: none;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 60vw;
}

.seccion3 {
    height: 80vh;
    width: 100vw;
    margin-top: 5ch;
}

.seccion3 h1 {
    text-align: center;
}

.seccion4 {
    height: 65vh;
    width: 100vw;
}

.seccion5 {
    height: 60vh;
    width: 100vw;
    margin-top: 9px;
}

footer {
    /*background-color: darkviolet;*/
    height: 22vh;
    width: 100%;
    transform: translate(-1px, -1px);
    margin-top: 8%;
}
 
.f0 {
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10rem;
    width: 100vw;
}
 
.f1 {
    /*border: 1px solid blue;*/
    background-color:rgb(252, 119, 71);
    height: 162px;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
 
.f2 {
    /*border: 1px solid violet;*/
    background-color:rgb(252, 119, 71);
    height: 162px;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
 
.f3 {
    background-color:rgb(253, 141, 100);
    /*border: 1px solid white;*/
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    transform: translate(1px, -7px);
}
 
.ftexto1 {
    color: black;
    /*border: 1px solid aqua;*/
    width: 100px;
    font-size: medium;
}

.ftexto2 {
    color: black;
    font-size: medium;
}

.descripcion {
    height: 40ch;
    width: 100vw;
    margin-top: 5ch;
}

.imagen {
    background-color:lightgray;
    width: 34ch;
    height: 490px;
    margin: 10px;
    margin-left: 28px;
    border-radius: 10px;
}

.imagen img {
    width: 34ch;
    height: 490px;
    border-radius: 10px;
}

.naranja {
    background-color: orangered;
    height: 32ch;
    width: 45vw;
    /*margin-left: 90px;*/
    float: left;
}

.naranja2 {
    background-color: orangered;
    float: right;
    height: 32ch;
    width: 55vw;
    align-items: center;
    justify-content: center;
    display: flex;
    /*margin-bottom: 10%;*/
}

.info{
    /*border: 5px solid white;*/
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.div1{
    /*border: 3px solid yellow;*/
    height: 330px;
    width: 260px;   
    text-align: center;
}

.div1 a{
    color:blue;
}

.p{
    font-size: 20px;
    margin-top: -8px;
}

.pp{
    font-size: 22px;
}

.ppp{
    margin-top: 25px;
    font-size: 20px;
}

.pppp{
    font-size: 17px;
}

.div1 h4{
    margin-top: 25px;
}

.div1 hr{
    width: 200px;
}



.N2texto1 {
    color: white;
    /*border: 1px solid aqua;*/
    font-size: 20px;
    text-align: center;
}

.N2texto2 {
    font-size: medium;
    width: 500px;
    color: white;
    text-align: center;
    /*background-color:blue;*/
    /*flex-direction: column;*/
}


.Ncontenedor {
    /*border: 1px solid black;*/
    align-items: center;
    justify-content: center;
    display: flex;
    height: 20rem;
    width: 100vw;
}

.Ncontenedor2 {
    background-color:rgb(252, 119, 71);
    height: 23rem;
    width: 40%;
    /*border: 3px solid white;*/
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 10px;
}

.Ncontenedor3 {
    background-color:rgb(252, 119, 71);
    height: 23rem;
    width: 40%;
    /*border: 3px solid purple;*/
    align-items: center;
    justify-content: center;
    display: flex;
}

input{
    width: 9rem;
    height: 2rem;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
}

.envios{
    width: 10rem;
}

.calcularP{
    width: 200px;
}

.comprar{
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

h3 {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-left: 8px;
}

.contenedor-slider
{
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    padding: 0px 40px;
   
}

.icono-izquierdo, .icono-derecho
{
    width: 5%;
    z-index: 1;
}

.icono-izquierdo{
    margin-left: 50px;
}

.icono-izquierdo img{
   margin-left: 20px;
}

.icono-izquierdo img, .icono-derecho img
{
   width: 100%;
   cursor: pointer;
}

.slider-screen
{
    width: 90%;
    border-radius: 12px;
    box-shadow: 5px 5px 25px black;
    overflow: hidden;
    margin-left: 18px;
}

.slider
{
    display: flex;
    width: 500%;
}

.slider .img-slider
{
   width: 30%;
   height: 500px;
}

@media(max-width:1040px){
    .cajita1{
        width: 220px;
        height: 270px;
    }
    .cajita2{
        width: 220px;
        height: 270px;
    }
    .cajita3{
        width: 220px;
        height: 270px;
    }
    .cajita4{
        width: 220px;
        height: 270px;
    }
    .cajita5{
        width: 13ch;
    }
    .cajita6{
        width: 220px;
        height: 270px;
    }
    .cajita7{
        width: 220px;
        height: 270px;
    }
    .cajita8{
        width: 220px;
        height: 270px;
    }
    .cajita9{
        width: 220px;
        height: 270px;
    }
    .cajita10{
        width: 13ch;
    }
 /***************************/
    .cajita1 img{
        width: 220px;
        height: 270px;
    } 
    .cajita2 img{
        width: 220px;
        height: 270px;
    } 
    .cajita3 img{
        width: 220px;
        height: 270px;
    } 
    .cajita4 img{
        width: 220px;
        height: 270px;
    } 
    .cajita6 img{
        width: 220px;
        height: 270px;
    } 
    .cajita7 img{
        width: 220px;
        height: 270px;
    } 
    .cajita8 img{
        width: 220px;
        height: 270px;
    } 
    .cajita9 img{
        width: 220px;
        height: 270px;
    } 
 /***************************/
    .juegos{
        height: 340px;
    }
 /***************************/
    .imagen{
        width: 25ch;
        height: 450px;
    }
    .imagen img{
        width: 25ch;
        height: 450px;
    }
    .naranja{
        height: 30ch;
        width: 46vw;
    }
    .naranja2{
        height: 30ch;
        width: 54vw;
    }
    hr{
        margin-top: -35px;
    }
    .div1 hr{
        margin-top: 10px;
        width: 140px;
    }
    .Ncontenedor2{
        width: 230px;
    }
    .Ncontenedor3{
        width: 230px;
    }
    .slider .img-slider{
        width: 20%;
        height: 450px;
    }
    h3 {
        margin-left: -8px;
    }
    .icono-izquierdo{
        margin-left: 5px;
    }
    .icono-izquierdo img{
       margin-left: 5px;
    }
    .slider-screen{
       margin-left: 1px;
    }
    .p{
        font-size: 18px;
    }
    .pp{
        font-size: 20px;
    }
    .ppp{
        font-size: 18px;
    }
    .pppp{
        font-size: 16px;
    }
    .comprar{
        margin-top: 25px;
    }
}
